<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Custom Donation Form – Preypoint Demo1 HTML Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- CSS ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="css/swiper.min.css"> 
    <!-- Magnific -->
    <link rel="stylesheet" href="css/magnific-popup.css"> 
    <!-- AOS -->
    <link rel="stylesheet" href="css/aos.css"> 
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

   <!-- Page Wrapper -->
   <div class="page-wrapper">

	<!-- Header Main Area -->
	<header class="site-header header-style-1">
		<div class="pbmit-header-overlay">
			<div class="pbmit-main-header-area">
				<div class="container">
					<div class="pbmit-header-content d-flex justify-content-between align-items-center">
						<div class="pbmit-logo-menuarea d-flex justify-content-between align-items-center">
							<div class="site-branding">
								<h1 class="site-title">
									<a href="index.html">
										<img class="logo-img" src="images/logo-white.svg" alt="Preypoint">
									</a>
								</h1>
							</div>
							<div class="pbmit-menuarea">
								<div class="site-navigation">
									<nav class="main-menu navbar-expand-xl navbar-light">
										<div class="navbar-header">
											<!-- Toggle Button --> 
											<button class="navbar-toggler" type="button">
												<i class="pbmit-base-icon-menu-1"></i>
											</button>
										</div>
										<div class="pbmit-mobile-menu-bg"></div>
										<div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
											<div class="pbmit-menu-wrap">
												<span class="closepanel">
													<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="20.163" height="20.163" viewBox="0 0 26.163 26.163">
														<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
														<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
													</svg>
												</span>
												<ul class="navigation clearfix">
													<li class="dropdown">
														<a href="index.html">Home</a>
														<ul>
															<li><a href="index.html">Homepage 01</a></li>
															<li><a href="homepage-2.html">Homepage 02</a></li>
															<li><a href="homepage-3.html">Homepage 03</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="#">Pages</a>
														<ul>
															<li><a href="about-us.html">About Us</a></li>
															<li><a href="our-history.html">Our History</a></li>
															<li class="dropdown">
																<a href="#">Event</a>
																<ul>
																	<li><a href="our-event.html">Our Event</a></li>
																	<li><a href="event-single-details.html">Event Single Details</a></li>
																</ul>
															</li>
															<li><a href="our-team.html">Our Team</a></li>
															<li><a href="team-member-detail.html">Team Member Detail</a></li>
															<li><a href="faq.html">Faq</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="#">Services</a>
														<ul>
															<li><a href="services.html">Services</a></li>
															<li><a href="service-detail.html">Service Detail</a></li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="#">Portfolio</a>
														<ul>
															<li class="dropdown">
																<a href="#">Masonry View</a>
																<ul>
																	<li><a href="portfolio-m-grid-col-2.html">Grid Col 2</a></li>
																	<li><a href="portfolio-m-grid-col-3.html">Grid Col 3</a></li>
																	<li><a href="portfolio-m-grid-col-4.html">Grid Col 4</a></li>
																	<li><a href="portfolio-m-grid-wide.html">Grid Wide</a></li>
																</ul>
															</li>
															<li class="dropdown">
																<a href="#">Grid View</a>
																<ul>
																	<li><a href="portfolio-grid-col-2.html">Grid Col 2</a></li>
																	<li><a href="portfolio-grid-col-3.html">Grid Col 3</a></li>
																	<li><a href="portfolio-grid-col-4.html">Grid Col 4</a></li>
																	<li><a href="portfolio-grid-no-gap.html">Grid No Gap</a></li>
																</ul>
															</li>
															<li class="dropdown">
																<a href="#">Sortable View</a>
																<ul>
																	<li><a href="portfolio-sortable-grid-col-2.html">Grid Col 2</a></li>
																	<li><a href="portfolio-sortable-grid-col-3.html">Grid Col 3</a></li>
																	<li><a href="portfolio-sortable-grid-col-4.html">Grid Col 4</a></li>
																</ul>
															</li>
															<li class="dropdown">
																<a href="#">Single Detail Style</a>
																<ul>
																	<li><a href="portfolio-detail-style-1.html">Portfolio Detail Style 1</a></li>
																	<li><a href="portfolio-detail-style-2.html">Portfolio Detail Style 2</a></li>
																</ul>
															</li>
														</ul>
													</li>
													<li class="dropdown">
														<a href="#">Blog</a>
														<ul>
															<li class="dropdown">
																<a href="#">Blog Masonry View</a>
																<ul>
																	<li><a href="blog-m-grid-col-2.html">Grid Col 2</a></li>
																	<li><a href="blog-m-grid-col-3.html">Grid Col 3</a></li>
																	<li><a href="blog-m-grid-col-4.html">Grid Col 4</a></li>
																	<li><a href="blog-masonry-wide.html">Masonry Wide</a></li>
																</ul>
															</li>
															<li class="dropdown">
																<a href="#">Blog Grid View</a>
																<ul>
																	<li><a href="blog-grid-col-3.html">Grid Col 3</a></li>
																	<li><a href="blog-grid-col-4.html">Grid Col 4</a></li>
																	<li><a href="blog-sortable-grid-view.html">Sortable Grid View</a></li>
																</ul>
															</li>
															<li><a href="blog-classic.html">Blog Classic</a></li>
															<li><a href="blog-single-details.html">Blog Single Details</a></li>
														</ul>
													</li>
													<li><a href="contact-us.html">Contact Us</a></li>
												</ul>
											</div>
										</div>
									</nav>
								</div>
							</div>
						</div>
						<div class="pbmit-right-box d-flex align-items-center">
							<div class="pbmit-button-box">
								<div class="pbmit-header-button">
									<a href="tel:+1(212)-255-511">
										<span class="pbmit-header-button-text-1">+1(212)-255-511</span>					
									</a>
								</div>
							 </div>
							<div class="pbmit-header-search-btn">
								<a href="#">
									<i class="pbmit-base-icon-search-1"></i>
								</a>
							</div>
							<div class="pbmit-button-box-second">
								<a href="#" class="pbmit-btn pbmit-btn-white">
									<span class="pbmit-button-content-wrapper">
										<span class="pbmit-button-text">
											Donate
										</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Main Area End Here -->

	<!-- Title Bar -->
	<div class="pbmit-title-bar-wrapper">
		<div class="container">
			<div class="pbmit-title-bar-content">
				<div class="pbmit-title-bar-content-inner">
					<div class="pbmit-tbar">
						<div class="pbmit-tbar-inner container">
							<h1 class="pbmit-tbar-title"> Custom Donation Form</h1>
						</div>
					</div>
					<div class="pbmit-breadcrumb">
						<div class="pbmit-breadcrumb-inner">
							<span><a title="" href="#" class="home"><span>Preypoint</span></a></span>
							<span class="sep">
								<i class="pbmit-base-icon-angle-right"></i>
							</span>
							<span><span class="post-root post post-post current-item"> Custom Donation Form</span></span>
						</div>
					</div>
				</div>
			</div> 
		</div> 
	</div>
    <!-- Title Bar End-->

	<!-- Page Content -->
	<div class="page-content"> 

		<!-- Donation Form -->
		<section class="site_content">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 pbmit-sidebar-left">
						<p class="login-prompt">
							<a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								Registered before? Log in to use your saved details.
							</a>
						</p>
						<div class="collapse" id="collapseExample">
							<div class="charitable-login-form">
								<p>If you registered an account, please enter your details below to login. If this is your first time, proceed to the donation form.</p>
								<form>
									<p class="login-username">
										<label for="user_login">Email</label>
										<input type="text" name="log" id="user_login" autocomplete="username" class="form-control" value="" size="20">
									</p>
									<p class="login-password">
										<label for="user_pass">Password</label>
										<input type="password" name="pwd" id="user_pass" autocomplete="current-password" spellcheck="false" class="form-control" value="" size="20">
									</p>
									<p class="login-remember">
										<label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
									</p>
									<p class="login-submit">
										<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Log In">
										<input type="hidden" name="redirect_to" value="">
									</p>
								</form>
							</div>
						</div>
						<form class="pbmit-donation-form">
							<fieldset class="col-md-12">
								<legend>
									Your Donation
								</legend>
								<div>
									<p>Your Donation Amount: <strong>$15.00</strong></p>
								</div>
							</fieldset>
							<fieldset class="col-md-12">
								<legend>
									Details
								</legend>
								<div class="row">
									<div class="charitable-field">
										<label for="charitable-field-first-name">First name <abbr class="required" title="required">*</abbr></label>
										<input type="text" class="form-control" id="charitable-field-first-name" name="fist-name" required>
									</div>
									<div class="charitable-field">
										<label for="charitable-field-last-name">Last name <abbr class="required" title="required">*</abbr></label>
										<input type="text" name="last-name" id="charitable-field-last-name" class="form-control" required>
									</div>
									<div class="charitable-field">
										<label for="charitable-field-email">Email <abbr class="required" title="required">*</abbr></label>
										<input type="email" name="email" id="charitable-field-email" class="form-control" required>
									</div>
									<div class="charitable-field">
										<label for="charitable-field-address">Address </label>
										<input type="text" name="address" id="charitable-field-address" class="form-control">
									</div>
									<div class="charitable-field">
										<label for="charitable-field-address-2">Address 2</label>
										<input type="text" name="address_2" id="charitable-field-address-2" class="form-control">
									</div>
									<div class="charitable-field">
										<label for="charitable-field-city">City</label>
										<input type="text" name="city" id="charitable-field-city" class="form-control">
									</div>
									<div class="charitable-field">
										<label for="charitable-field-state">State</label>
										<input type="text" name="state" id="charitable-field-state" class="form-control">
									</div>
									<div class="charitable-field">
										<label for="charitable-field-postcode">Postcode</label>
										<input type="text" name="postcode" id="charitable-field-postcode" class="form-control">
									</div>
									<div class="charitable-field">
										<label for="charitable-field-country">Country</label>
										<select name="country" id="charitable-field-country" class="form-select" aria-hidden="true">
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
											<option value="AQ">Antarctica</option>
											<option value="AG">Antigua and Barbuda</option>
											<option value="AR">Argentina</option>
											<option value="AM">Armenia</option>
											<option value="AW">Aruba</option>
											<option value="AU">Australia</option>
											<option value="AT">Austria</option>
											<option value="AZ">Azerbaijan</option>
											<option value="BS">Bahamas</option>
											<option value="BH">Bahrain</option>
											<option value="BD">Bangladesh</option>
											<option value="BB">Barbados</option>
											<option value="BY">Belarus</option>
											<option value="BE">Belgium</option>
											<option value="PW">Belau</option>
											<option value="BZ">Belize</option>
											<option value="BJ">Benin</option>
											<option value="BM">Bermuda</option>
											<option value="BT">Bhutan</option>
											<option value="BO">Bolivia</option>
											<option value="BQ">Bonaire, Saint Eustatius and Saba</option>
											<option value="BA">Bosnia and Herzegovina</option>
											<option value="BW">Botswana</option>
											<option value="BV">Bouvet Island</option>
											<option value="BR">Brazil</option>
											<option value="IO">British Indian Ocean Territory</option>
											<option value="VG">British Virgin Islands</option>
											<option value="BN">Brunei</option>
											<option value="BG">Bulgaria</option>
											<option value="BF">Burkina Faso</option>
											<option value="BI">Burundi</option>
											<option value="KH">Cambodia</option>
											<option value="CM">Cameroon</option>
											<option value="CA">Canada</option>
											<option value="CV">Cape Verde</option>
											<option value="KY">Cayman Islands</option>
											<option value="CF">Central African Republic</option>
											<option value="TD">Chad</option>
											<option value="CL">Chile</option>
											<option value="CN">China</option>
											<option value="CX">Christmas Island</option>
											<option value="CC">Cocos (Keeling) Islands</option>
											<option value="CO">Colombia</option>
											<option value="KM">Comoros</option>
											<option value="CG">Congo (Brazzaville)</option>
											<option value="CD">Congo (Kinshasa)</option>
											<option value="CK">Cook Islands</option>
											<option value="CR">Costa Rica</option>
											<option value="HR">Croatia</option>
											<option value="CU">Cuba</option>
											<option value="CW">CuraÇao</option>
											<option value="CY">Cyprus</option>
											<option value="CZ">Czech Republic</option>
											<option value="DK">Denmark</option>
											<option value="DJ">Djibouti</option>
											<option value="DM">Dominica</option>
											<option value="DO">Dominican Republic</option>
											<option value="EC">Ecuador</option>
											<option value="EG">Egypt</option>
											<option value="SV">El Salvador</option>
											<option value="GQ">Equatorial Guinea</option>
											<option value="ER">Eritrea</option>
											<option value="EE">Estonia</option>
											<option value="SZ">Eswatini</option>
											<option value="ET">Ethiopia</option>
											<option value="FK">Falkland Islands</option>
											<option value="FO">Faroe Islands</option>
											<option value="FJ">Fiji</option>
											<option value="FI">Finland</option>
											<option value="FR">France</option>
											<option value="GF">French Guiana</option>
											<option value="PF">French Polynesia</option>
											<option value="TF">French Southern Territories</option>
											<option value="GA">Gabon</option>
											<option value="GM">Gambia</option>
											<option value="GE">Georgia</option>
											<option value="DE">Germany</option>
											<option value="GH">Ghana</option>
											<option value="GI">Gibraltar</option>
											<option value="GR">Greece</option>
											<option value="GL">Greenland</option>
											<option value="GD">Grenada</option>
											<option value="GP">Guadeloupe</option>
											<option value="GT">Guatemala</option>
											<option value="GG">Guernsey</option>
											<option value="GN">Guinea</option>
											<option value="GW">Guinea-Bissau</option>
											<option value="GY">Guyana</option>
											<option value="HT">Haiti</option>
											<option value="HM">Heard Island and McDonald Islands</option>
											<option value="HN">Honduras</option>
											<option value="HK">Hong Kong</option>
											<option value="HU">Hungary</option>
											<option value="IS">Iceland</option>
											<option value="IN">India</option>
											<option value="ID">Indonesia</option>
											<option value="IR">Iran</option>
											<option value="IQ">Iraq</option>
											<option value="IE">Republic of Ireland</option>
											<option value="IM">Isle of Man</option>
											<option value="IL">Israel</option>
											<option value="IT">Italy</option>
											<option value="CI">Ivory Coast</option>
											<option value="JM">Jamaica</option>
											<option value="JP">Japan</option>
											<option value="JE">Jersey</option>
											<option value="JO">Jordan</option>
											<option value="KZ">Kazakhstan</option>
											<option value="KE">Kenya</option>
											<option value="KI">Kiribati</option>
											<option value="KW">Kuwait</option>
											<option value="KG">Kyrgyzstan</option>
											<option value="LA">Laos</option>
											<option value="LV">Latvia</option>
											<option value="LB">Lebanon</option>
											<option value="LS">Lesotho</option>
											<option value="LR">Liberia</option>
											<option value="LY">Libya</option>
											<option value="LI">Liechtenstein</option>
											<option value="LT">Lithuania</option>
											<option value="LU">Luxembourg</option>
											<option value="MO">Macau</option>
											<option value="MG">Madagascar</option>
											<option value="MW">Malawi</option>
											<option value="MY">Malaysia</option>
											<option value="MV">Maldives</option>
											<option value="ML">Mali</option>
											<option value="MT">Malta</option>
											<option value="MH">Marshall Islands</option>
											<option value="MQ">Martinique</option>
											<option value="MR">Mauritania</option>
											<option value="MU">Mauritius</option>
											<option value="YT">Mayotte</option>
											<option value="MX">Mexico</option>
											<option value="FM">Micronesia</option>
											<option value="MD">Moldova</option>
											<option value="MC">Monaco</option>
											<option value="MN">Mongolia</option>
											<option value="ME">Montenegro</option>
											<option value="MS">Montserrat</option>
											<option value="MA">Morocco</option>
											<option value="MZ">Mozambique</option>
											<option value="MM">Myanmar</option>
											<option value="NA">Namibia</option>
											<option value="NR">Nauru</option>
											<option value="NP">Nepal</option>
											<option value="NL">Netherlands</option>
											<option value="AN">Netherlands Antilles</option>
											<option value="NC">New Caledonia</option>
											<option value="NZ">New Zealand</option>
											<option value="NI">Nicaragua</option>
											<option value="NE">Niger</option>
											<option value="NG">Nigeria</option>
											<option value="NU">Niue</option>
											<option value="NF">Norfolk Island</option>
											<option value="KP">North Korea</option>
											<option value="MK">North Macedonia</option>
											<option value="NO">Norway</option>
											<option value="OM">Oman</option>
											<option value="PK">Pakistan</option>
											<option value="PS">Palestinian Territories</option>
											<option value="PA">Panama</option>
											<option value="PG">Papua New Guinea</option>
											<option value="PY">Paraguay</option>
											<option value="PE">Peru</option>
											<option value="PH">Philippines</option>
											<option value="PN">Pitcairn</option>
											<option value="PL">Poland</option>
											<option value="PT">Portugal</option>
											<option value="QA">Qatar</option>
											<option value="RE">Reunion</option>
											<option value="RO">Romania</option>
											<option value="RU">Russia</option>
											<option value="RW">Rwanda</option>
											<option value="BL">Saint Barthélemy</option>
											<option value="SH">Saint Helena</option>
											<option value="KN">Saint Kitts and Nevis</option>
											<option value="LC">Saint Lucia</option>
											<option value="MF">Saint Martin (French part)</option>
											<option value="SX">Saint Martin (Dutch part)</option>
											<option value="PM">Saint Pierre and Miquelon</option>
											<option value="VC">Saint Vincent and the Grenadines</option>
											<option value="SM">San Marino</option>
											<option value="ST">São Tomé and Príncipe</option>
											<option value="SA">Saudi Arabia</option>
											<option value="SN">Senegal</option>
											<option value="RS">Serbia</option>
											<option value="SC">Seychelles</option>
											<option value="SL">Sierra Leone</option>
											<option value="SG">Singapore</option>
											<option value="SK">Slovakia</option>
											<option value="SI">Slovenia</option>
											<option value="SB">Solomon Islands</option>
											<option value="SO">Somalia</option>
											<option value="ZA">South Africa</option>
											<option value="GS">South Georgia/Sandwich Islands</option>
											<option value="KR">South Korea</option>
											<option value="SS">South Sudan</option>
											<option value="ES">Spain</option>
											<option value="LK">Sri Lanka</option>
											<option value="SD">Sudan</option>
											<option value="SR">Suriname</option>
											<option value="SJ">Svalbard and Jan Mayen</option>
											<option value="SE">Sweden</option>
											<option value="CH">Switzerland</option>
											<option value="SY">Syria</option>
											<option value="TW">Taiwan</option>
											<option value="TJ">Tajikistan</option>
											<option value="TZ">Tanzania</option>
											<option value="TH">Thailand</option>
											<option value="TL">Timor-Leste</option>
											<option value="TG">Togo</option>
											<option value="TK">Tokelau</option>
											<option value="TO">Tonga</option>
											<option value="TT">Trinidad and Tobago</option>
											<option value="TN">Tunisia</option>
											<option value="TR">Turkey</option>
											<option value="TM">Turkmenistan</option>
											<option value="TC">Turks and Caicos Islands</option>
											<option value="TV">Tuvalu</option>
											<option value="UG">Uganda</option>
											<option value="UA">Ukraine</option>
											<option value="AE">United Arab Emirates</option>
											<option value="GB">United Kingdom (UK)</option>
											<option value="US">United States (US)</option>
											<option value="UY">Uruguay</option>
											<option value="UZ">Uzbekistan</option>
											<option value="VU">Vanuatu</option>
											<option value="VA">Vatican</option>
											<option value="VE">Venezuela</option>
											<option value="VN">Vietnam</option>
											<option value="WF">Wallis and Futuna</option>
											<option value="EH">Western Sahara</option>
											<option value="WS">Western Samoa</option>
											<option value="YE">Yemen</option>
											<option value="ZM">Zambia</option>
											<option value="ZW">Zimbabwe</option>
										</select>
									</div>
									<div class="charitable-field">
										<label for="charitable-field-phone-number">Phone Number</label>
										<input type="text" name="phone" id="charitable-field-phone-number" class="form-control">
									</div>
								</div>
							</fieldset>
							<fieldset class="col-md-12">
								<legend>
									Payment
								</legend>
								<div class="charitable-field">
									<label for="charitable-field-card">Name on Card <abbr class="required" title="required">*</abbr></label>
									<input type="text" class="form-control" id="charitable-field-card" required>
								</div>
								<label>Credit/Debit Card</label>
							</fieldset>
							<button class="pbmit-btn" type="submit">
								<span class="pbmit-button-content-wrapper">
									<span class="pbmit-button-text">
										Donate
									</span>
								</span>
							</button>
						</form>
					</div>
					<div class="col-md-3 pbmit-sidebar-right">
						<aside class="sidebar">
							<aside class="widget widget-search">
								<h2 class="widget-title">Search</h2>
								<form class="search-form">
									<input type="search" class="search-field" placeholder="Search …" value="">
									<button type="submit" class="search-submit"></button>
								</form>
							</aside>
							<aside class="widget widget-categories">
								<h2 class="widget-title">Categories</h2>
								<ul>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Christian</a>
											<span class="pbmit-brackets">( 2 )</span>
										</span>
									</li>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Devotion</a>
											<span class="pbmit-brackets">( 1 )</span>
										</span>
									</li>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Fellowship</a>
											<span class="pbmit-brackets">( 2 )</span>
										</span>
									</li>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Gatherings</a>
											<span class="pbmit-brackets">( 2 )</span>
										</span>
									</li>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Sanctuaries</a>
											<span class="pbmit-brackets">( 1 )</span>
										</span>
									</li>
									<li>
										<span class="pbmit-cat-li">
											<a href="blog-classic.html">Spaces</a>
											<span class="pbmit-brackets">( 1 )</span>
										</span>
									</li>
								</ul>
							</aside>
							<aside class="widget widget-recent-post">
							<h2 class="widget-title">Recent Post</h2>
								<ul class="recent-post-list">
									<li class="recent-post-list-li"> 
										<a class="recent-post-thum" href="blog-single-details.html">
											<img src="images/recent-post/blog-01.jpg" class="img-fluid" alt="">
										</a>
										<div class="pbmit-rpw-content">
											<span class="pbmit-rpw-title">
												<a href="blog-single-details.html">Motivational Narratives from Our Church.</a>
											</span>
											<span class="pbmit-rpw-date">
												<a href="blog-single-details.html">September 13, 2024</a>
											</span>
										</div> 
									</li>
									<li class="recent-post-list-li"> 
										<a class="recent-post-thum" href="blog-single-details.html">
											<img src="images/recent-post/blog-02.jpg" class="img-fluid" alt="">
										</a>
										<div class="pbmit-rpw-content">
											<span class="pbmit-rpw-title">
												<a href="blog-single-details.html">My life was ruined by me , There Still Hope for Me?</a>
											</span>
											<span class="pbmit-rpw-date">
												<a href="blog-single-details.html">September 13, 2024</a>
											</span>
										</div> 
									</li>
									<li class="recent-post-list-li"> 
										<a class="recent-post-thum" href="blog-single-details.html">
											<img src="images/recent-post/blog-03.jpg" class="img-fluid" alt="">
										</a>
										<div class="pbmit-rpw-content">
											<span class="pbmit-rpw-title">
												<a href="blog-single-details.html">Start of a New Bible Study Series This Sunday</a>
											</span>
											<span class="pbmit-rpw-date">
												<a href="blog-single-details.html">September 13, 2024</a>
											</span>
										</div> 
									</li>
								</ul>
							</aside> 
							<aside class="widget pbmit-service-ad">
								<div class="textwidget">
									<div class="pbmit-service-ads">
										<div class="pbmit-ads-call">Call 123 234-567-890</div>
										<h4 class="pbmit-ads-subtitle">Have a Blessed</h4>
										<h3 class="pbmit-ads-title">Good Friday</h3>
										<div class="pbmit-ads-btn">
											<a href="tel:123-234-567-890" class="pbmit-btn">
												<span class="pbmit-button-content-wrapper">
													<span class="pbmit-button-text">
														Join us Now
													</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</aside>
							<aside class="widget widget-tag-cloud">
								<h3 class="widget-title">Tag Cloud</h3>
								<ul class="tagcloud">
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">Advice</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">biblestory</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">Faith</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">jesus</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">News</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">prayer</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">sermon</a>
									</li>
									<li>
										<a href="blog-classic.html" class="tag-cloud-link">Story</a>
									</li>
								</ul>
							</aside> 
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- Donation Form End -->
		
	</div>
	<!-- Page Content End -->

	<!-- footer -->
	<footer class="site-footer pbmit-bg-color-blackish">
		<div class="pbmit-footer-widget-wrapper container">
			<div class="row g-0">
				<div class="pbmit-footer-widget-logo-area col-md-12 col-xl-3">
					<div class="pbmit-footer-logo">
						<img src="images/logo-white.svg" alt="">
					</div>
				</div>
				<div class="pbmit-footer-widget-text-area col-md-12 col-xl-9">
					<div class="footer-wrap pbmit-footer-widget-area">
						<div class="container">
							<div class="row justify-content-between">
								<div class="pbmit-footer-widget-col-1">
									<aside class="widget">
										<h2 class="widget-title">Call Center</h2>
										<div class="pbmit-contact-widget-lines">
											<div class="pbmit-contact-widget-line pbmit-base-icon-phone">800 100 975 20 34<br> + (123) 1800-234-5678</div>
										</div>
									</aside>
									<aside class="pbmit-email-custom widget widget_text">
										<h2 class="widget-title">Email</h2>
										<div class="textwidget">
											<p>no-reply@pbminfotech.com</p>
										</div>	
									</aside>
								</div>
								<div class="pbmit-footer-widget-col-2">
									<aside class="pbmit-location-social widget widget_text">
										<h2 class="widget-title">Our Location</h2>
										<div class="textwidget"><p>975 Liberty Ave, Union, NJ 07083, USA</p>
											<h2 class="widget-title">Social Network</h2>
											<ul class="pbmit-social-links">
												<li class="pbmit-social-li pbmit-social-facebook">
													<a title="Facebook" href="#" target="_blank">
														<span><i class="pbmit-base-icon-facebook-f"></i></span>
													</a>
												</li>
												<li class="pbmit-social-li pbmit-social-twitter">
													<a title="Twitter" href="#" target="_blank">
														<span><i class="pbmit-base-icon-twitter-2"></i></span>
													</a>
												</li>
												<li class="pbmit-social-li pbmit-social-linkedin">
													<a title="LinkedIn" href="#" target="_blank">
														<span><i class="pbmit-base-icon-linkedin-in"></i></span>
													</a>
												</li>
												<li class="pbmit-social-li pbmit-social-instagram">
													<a title="Instagram" href="#" target="_blank">
														<span><i class="pbmit-base-icon-instagram"></i></span>
													</a>
												</li>
											</ul>
										</div>
									</aside>
								</div>
								<div class="pbmit-footer-widget-col-3">
									<aside class="widget">
										<h2 class="widget-title">Useful Link</h2>
										<div class="menu-useful-link-container">
											<ul>
												<li><a href="index.html">Home</a></li>
												<li><a href="services.html">Services</a></li>
												<li><a href="our-event.html">Our Event</a></li>
												<li><a href="blog-classic.html">News</a></li>
											</ul>
										</div>
									</aside>
								</div>
								<div class="pbmit-footer-widget-col-4">
									<aside class="widget">
										<h2 class="widget-title">Our Services</h2>
										<ul>
											<li><a href="service-detail.html">Our Community</a></li>
											<li><a href="service-detail.html">Support Networks</a></li>
											<li><a href="service-detail.html">Family Sermons</a></li>
											<li><a href="service-detail.html">Sunday Services</a></li>
											<li><a href="service-detail.html">Peaceful Day</a></li>
										</ul>
									</aside>
								</div>
							</div>
						</div>
					</div>
					<div class="pbmit-footer-text-area">
						<div class="container">
							<div class="pbmit-footer-text-inner">
								<div class="row">
									<div class="col-md-6">
										<div class="pbmit-footer-menu-area">
											<div class="menu-footer-menu-container">
												<ul class="pbmit-footer-menu">
													<li><a href="#">Terms & Condition</a></li>
													<li><a href="#">Privacy Policy</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="pbmit-footer-copyright-text-area"> Copyright © 2024 
											<a href="#">PBM Infotech</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer End -->

    </div>
    <!-- Page Wrapper End -->

    <!-- Search Box Start Here -->
	<div class="pbmit-search-overlay">
		<div class="pbmit-icon-close">
			<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
				<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
				<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
			</svg>
		</div>
		<div class="pbmit-search-outer"> 
			<form class="pbmit-site-searchform">
				<input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
				<button type="submit"></button>
			</form>
		</div>
	</div>
	<!-- Search Box End Here -->

	<!-- Scroll To Top -->
	<div class="pbmit-progress-wrap">
		<svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
		</svg>	
	</div>
	<!-- Scroll To Top End -->
	
    <!-- JS
        ============================================ -->
	<!-- jQuery JS -->
	<script src="js/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- jquery Waypoints JS -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- jquery Appear JS -->
	<script src="js/jquery.appear.js"></script>
	<!-- Numinate JS -->
	<script src="js/numinate.min.js"></script>
	<!-- Slick JS -->
	<script src="js/swiper.min.js"></script>
	<!-- Magnific JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="js/circle-progress.js"></script> 
	<!-- countdown JS -->
	<script src="js/jquery.countdown.min.js"></script> 
	<!-- AOS -->
	<script src="js/aos.js"></script>
	<!-- GSAP -->
	<script src='js/gsap.js'></script>
	<!-- Scroll Trigger -->
	<script src='js/ScrollTrigger.js'></script>
	<!-- Split Text -->
	<script src='js/SplitText.js'></script>
	<!-- Magnetic -->
	<script src='js/magnetic.js'></script>
	<!-- GSAP Animation -->
	<script src='js/gsap-animation.js'></script>
	<!-- Scripts JS -->
	<script src="js/scripts.js"></script>

   </body>
</html>