{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	{% include 'head.html' %}
	

	

   <body>
	<!-- Page Wrapper -->
	<div class="page-wrapper">

		{% include 'navbar.html' %}
		<!-- Header Main Area End Here -->

		<!-- Title Bar -->
		<div class="pbmit-title-bar-wrapper">
			<div class="container">
				<div class="pbmit-title-bar-content">
					<div class="pbmit-title-bar-content-inner">
						<div class="pbmit-tbar">
							<div class="pbmit-tbar-inner container">
								<h1 class="pbmit-tbar-title"> Pillars of Our Family</h1>
							</div>
						</div>
						<div class="pbmit-breadcrumb">
							<div class="pbmit-breadcrumb-inner">
								<span><a title="" href="#" class="home"><span>Meledath Family</span></a></span>
								<span class="sep">
									<i class="pbmit-base-icon-angle-right"></i>
								</span>
								<span><span class="post-root post post-post current-item"> Pillars of Our Family</span></span>
							</div>
						</div>
					</div>
				</div> 
			</div> 
		</div>
		<!-- Title Bar End-->

		<div class="page-content">
            
            <section class="section-xl">
                <div class="container">
                    <div class="d-md-flex justify-content-between">
                        <div class="pbmit-heading-subheading animation-style2">
                            <h4 class="pbmit-subtitle">In Loving Memory</h4>
                            <h2 class="pbmit-title">Pillars of Our Family </h2>
                        </div>
                        <div class="mt-md-4 mb-md-0 mb-5">
                            <!-- <a href="our-team.html" class="pbmit-btn pbmit-btn-outline">
                                <span class="pbmit-button-content-wrapper">
                                    <span class="pbmit-button-text">
                                        Know More
                                    </span>
                                </span>
                            </a> -->
                        </div>
                    </div>
                    <div class="swiper-slider" data-loop="true" data-autoplay="true" data-dots="false" data-arrows="false" data-columns="4" data-margin="30" data-effect="slide">
                        <div class="swiper-wrapper">
                            <!-- Slide1 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-01.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Aipu Family</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Robert Jones</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Slide2 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-02.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Leadership</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Francis Family</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Slide3 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-03.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Administrator</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Thoma Family</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Slide4 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-04.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">General Counsel</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Aipu_family</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Slide5 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-05.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Volunteer</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Lonappan Family</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Slide6 -->
                            <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-06.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Pastor</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Varunny family</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </article>
                             <article class="pbmit-team-style-1 swiper-slide">
                                <div class="pbminfotech-post-item">
                                    <div class="pbmit-featured-wrap">
                                        <div class="pbmit-featured-inner">
                                            <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/homepage-2/team/team-img-06.jpg' %}" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                            <a class="pbmit-link" href="{% url 'aipu_family' %}"></a>
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <div class="pbminfotech-box-content-inner">
                                            <div class="pbminfotech-box-team-position">Pastor</div>
                                            <h3 class="pbmit-team-title">
                                                <a href="{% url 'aipu_family' %}">Kochuvareed Family/</a>
                                            </h3>
                                        </div>
                                        <div class="pbmit-team-btn">
                                            <a class="pbmit-team-text" href="{% url 'aipu_family' %}">
                                                <i class="pbmit-base-icon-share"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

		{% include "footer.html" %}

		</div>
         
		
	
         
   </body>
</html>






















