{% load static %}
<style>
    .pbmit-header-overlay {
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: 999;
    /* transition: background-color 0.3s ease; */
    background-color: transparent; /* Default */
    }

    .pbmit-header-overlay.scrolled {
    background-color: #2699D2; /* On scroll */
    }

</style>
<script>
    window.addEventListener('scroll', function () {
      const header = document.querySelector('.pbmit-header-overlay');
      if (window.scrollY > 50) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    });
  </script>
  
<header class="site-header header-style-1">
    <div class="pbmit-header-overlay" style="position: fixed;">
        <div class="pbmit-main-header-area">
            <div class="container">
                <div class="pbmit-header-content d-flex justify-content-between align-items-center">
                    <div class="pbmit-logo-menuarea d-flex justify-content-between align-items-center">
                        <div class="site-branding">
                            <h1 class="site-title">
                                <a href="{% url 'home' %}">
                                    <img class="logo-img" src="{%  static 'images/logo/logo.png' %}" alt="Preypoint">
                                </a>
                            </h1>
                        </div>
                        <div class="pbmit-menuarea">
                            <div class="site-navigation">
                                <nav class="main-menu navbar-expand-xl navbar-light">
                                    <div class="navbar-header">
                                        <!-- Toggle Button --> 
                                        <button class="navbar-toggler" type="button">
                                            <i class="pbmit-base-icon-menu-1"></i>
                                        </button>
                                    </div>
                                    <div class="pbmit-mobile-menu-bg"></div>
                                    <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                                        <div class="pbmit-menu-wrap">
                                            <span class="closepanel">
                                                <svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="20.163" height="20.163" viewBox="0 0 26.163 26.163">
                                                    <rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
                                                    <rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
                                                </svg>
                                            </span>
                                            <ul class="navigation clearfix">
                                                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                                <li><a href="{% url 'history' %}">Family History</a></li>
                                                <li><a href="{% url 'register' %}">Family Tree</a></li>
                                                <li><a href="{% url 'team' %}">Board of Directors</a></li>
                                                <li><a href="{% url 'events' %}">Events</a></li>
                                                <li><a href="{% url 'gallery' %}">gallery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="pbmit-right-box d-flex align-items-center">
                        <div class="pbmit-header-search-btn">
                            <a href="#">
                                <i class="pbmit-base-icon-search-1"></i>
                            </a>
                        </div>
                        <div class="pbmit-button-box-second">
                            <a href="{% url 'register' %}" class="pbmit-btn pbmit-btn-white">
                                <span class="pbmit-button-content-wrapper">
                                    <span class="pbmit-button-text">
                                        Login
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Main Area End Here -->

